@import "../../../shared/variables";

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.limiter {
  width: 100%;
  margin: 0 auto;

  .login-container {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background: #fff;

    .wrap {
      width: 500px;
      background: #fff;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
      
      .login {
        width: 100%;
        position: relative;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 178px;
        
        .title {
          font-family: Roboto, sans-serif;
          font-size: 30px;
          color: #fff;
          line-height: 1.2;
          text-align: center;
          display: block;
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          background-color: #333333;
          padding-top: 50px;
          padding-bottom: 39px;
        }
      
        .wrap-input {
          width: 100%;
          background-color: #fff;
          border-radius: 27px;
          z-index: 1;
          position: relative;
          margin-bottom: 30px;
      
          .input {
            font-size: 15px;
            color: #1b3815;
            line-height: 1.2;
            outline: none;
            border: none;
            position: relative;
            display: block;
            width: 100%;
            height: 55px;
            background: #ebebeb;
            border-radius: 27px;
            padding: 0 35px 0 35px;
          }
        
          .focus-input {
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 31px;
            background-color: #ebebeb;
            pointer-events: none;
            transition: all 0.4s;
          }
        
          .input:focus + .focus-input {
            width: calc(100% + 20px);
          }
        }
      
        .wrap-btn {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
      
          button {
            font-family: Roboto, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            background-color: #57b846;
            border-radius: 25px;
            outline: none;
            border: none;
            font-family: Roboto, sans-serif;
            font-size: 15px;
            color: #fff;
            line-height: 1.2;
            text-transform: uppercase;
            transition: all 0.4s;
          
            &:hover {
              background-color: #1b3815;
              cursor: pointer;
            }
          }
        }
      
         .sprintgo {
           display: -webkit-box;
           display: -webkit-flex;
           display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
          -ms-align-items: center;
          align-items: center;
          padding-top: 170px;
          padding-bottom: 40px;
      
          .txt1 {
            font-family: Roboto, sans-serif;
            font-size: 15px;
            color: #999999;
            line-height: 1.4;
            padding-bottom: 9px;
          }
        }
      }
    }
  }
}