@import "../../../shared/variables";


.head1{
    margin-bottom: 10px;
    
}


.head3{
    margin-top: 10px;
    margin-bottom: 9px;
    margin-top: 35px;
}




.paper1
{
    padding: 2px;
    margin-bottom: 5px;
    width: 50%;
    

    .buttonSpr1{
        width: 10%;
        margin-left: 87%;
        margin-bottom: 7px;
    }
    
    
    .nameSpr{
        margin-top: 15px;
        margin-left: 5px;
    }

}

.form1
{
    
    .buttonSpr2{
        width: 50px;
        height: 53px;
        margin-left: 5px;
       
        
   }
}

