@import "../../../shared/variables";

.head1 {
  margin-bottom: 10px;
}

.paper1 {
  padding: 2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  
  .nameSpr {
    margin-top: 15px;
    margin-left: 5px;
  }
}

.form {

  &-area {
    display: flex;
    align-items: center;
    flex-direction: column;

    .input {
      width: 100%;
    }

    .react-calendar {
      width: 100%;
      margin-bottom: 5px;
    }

    p {
      text-align: left;
      width: 100%;
      margin: 5px 0;
    }
  }
}

.buttonSpr2 {
  width: 50px;
  height: 53px;

  span {
    color: white;
  }
}